@font-face {

    src: url(fonts/MagnificChaosPersonalUseRegular-x3J88.ttf);
    font-family: MagnificentChaos;
}
:root {
    --bg-color: #fff;
    --link-color: #000;
    --link-size: 1.1rem;
    --right-side-bg-color: 81, 187, 254;
  }
.backgroundImage{
 
   
    background-repeat:repeat;
    background-size: cover;
 height:100vh;
 background-position: center center;
 overflow-x: hidden;
  
 background-color: rgb(109, 142, 194); 
 background-blend-mode: darken;
    
}

#title a{
   
    position: relative;
    display:inline;
      color:black;
      top:30px;
      left:30px;
      font-size: 45px;
      text-decoration: none;
      font-family:MagnificentChaos;
      z-index:9999999;
      
  }


  .CaloriesField{
    margin-top:7vh;
    text-align: center;
    font-size: 25px;
  }
  .TheForm{
    margin-top:4vh;
    text-align: center;
    font-size: 25px;
  }





  /*Foods and their descriptions*/
  .products-list {
    width: 100vw;
    height: 100vh;
  
    padding-top: 100px;
  
    display: flex;
  }
  .products {
    height: 100%;
    width: 100%;
  
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 3fr);
  }
  .products img {
   max-width: 100px;
   max-height: 100px;
  }
  @media only screen and (max-width: 1200px) {
    .products-list {
        width: 100vw;
        height: 100vh;
      display: inline-block;
        padding-top: 100px;
            
      
     
      }
      .products {
        height: 100%;
        width: 100%;
      
        display: inline-block;
       
      }
  }


  .products .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .products .item .item-container {
    width: 250px;
    height: 45vh;
    margin: 20px;
    background-color: #000;
  
    border-radius: 25px;
  
    position: relative;
  }
  .products .item .item-container .item-img {
    width: 100%;
    height: 60%;
  
    background-color: white;
  
    border: 1px solid #000;
    border-radius: 25px 25px 0 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products .item .item-container .desc {

    color: #fff;
  
    padding: 10px;
  }
  .products .item .item-container .add-to-cart {
    background-color: rgba(var(--right-side-bg-color), 0.7);
    /* background-color: rgb(242, 255, 58); */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: absolute;
    top: 10px;
    right: 10px;
  
    padding: 5px;
  
    border-radius: 50%;
  
    cursor: pointer;
  }
  .products .item .item-container .add-to-cart img {
    width: 32px;
    height: 32px;
  }



  /*Cart*/
.cart {
  height: 50%;
  width:100%;

position: absolute;
margin-top: 150vh;

 
}
@media only screen and (max-width: 1200px){
    .cart {
        height: 50%;
        width:100%;
      
      position: absolute;
      margin-top: 50vh;
      
       
      }
}
/* cart header */
.cart-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
/* cart items */
.cart-items {
    overflow:scroll;
  overflow-y: auto;
  overflow-x: hidden;
}
/* cart item */
.cart-item {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.cart-item div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* item info */
.cart-item .item-info {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.6);

  border-radius: 0 10px 10px 0;

  padding: 10px;
}
.cart-item .item-info:hover {
  background-color: rgba(255, 0, 0, 0.6);
  cursor: pointer;
}
.cart-item .item-info img {
  width: 75px;
}
/* unit price */
.cart-item .unit-price {
  flex: 1;
  font-size: 1.2rem;
}
/* units */
.cart-item .units {
  flex: 1;
}
.cart-item .units .number {
  margin: 0 10px;

  font-size: 1.2rem;
}
.cart-item .units .btn {
  width: 20px;
  height: 20px;

  background-color: rgb(242, 255, 58);

  border-radius: 50%;

  font-weight: bold;

  cursor: pointer;

  /*-webkit-user-select: none; /* Chrome all / Safari all */
  /*-moz-user-select: none; /* Firefox all */
  /*-ms-user-select: none; /* IE 10+ */
}

/* cart footer */
.cart-footer {
  width: 100%;
  background-color: rgb(255, 21, 21);
  position: relative;
  bottom: 0;
  left: 0;
  

  border-left: 1px solid rgb(var(--right-side-bg-color));
}
.cart-footer div {
  display: flex;
  align-items: center;
  justify-content: center;
    
  padding: 15px 0;

  font-size: 1.3rem;
}
.cart-footer .subtotal {
  background-color: white;
  
}
.cart-footer .checkout {
  background-color: rgb(242, 255, 58);

  cursor: pointer;
}

#txtCalories{
    border-radius:10px;
  
}
#submitBtn{
    

  /* usual styles */
 
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  cursor: pointer;
  
}